<div class="container mt-5">
  <form
    #registerForm="ngForm"
    (ngSubmit)="RegisterUser(registerForm)"
    class="Register-form"
  >
    <h1 class="text-center mb-4">Register</h1>
    <div class="inputs">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="firstName"
          class="form-control"
          id="firstName"
          required
          #firstName="ngModel"
          name="firstName"
          [(ngModel)]="registerModel.firstName"
        />
      
        <span *ngIf="firstName.invalid && firstName.touched" class="error-message">First Name is required</span>
      </div>
    </div>

    <div class="inputs">
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="lastName"
          class="form-control"
          id="lastName"
          #lastName="ngModel"
          name="lastName"
          [(ngModel)]="registerModel.lastName"
          required
          />
        <span *ngIf="lastName.invalid && lastName.touched" class="error-message">Last  Name is required</span>
      </div>
    </div>

    <div class="inputs">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          
          required
          #email="ngModel"
          name="email"
          [(ngModel)]="registerModel.email"
        />
        <span *ngIf="email.invalid && email.touched" class="error-message">Email is required</span>
      </div>
    </div>

    <div class="inputs">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          #password="ngModel"
          name="password"
          [(ngModel)]="registerModel.password"
        />
        <span *ngIf="password.invalid && password.touched" class="error-message">Password is required</span>
      </div>
      <button type="submit" class="btn btn-primary w-100">Register</button>
    </div>
  </form>
</div>
