<div class="container mt-5">
  <form #loginForm="ngForm" (ngSubmit)="loginUser (loginForm)" class="login-form">
    <h1 class="text-center mb-4">Login</h1>
    <div class="inputs">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          #email="ngModel"
          name="email"
          [(ngModel)]="loginModel.email"
        />
        <span *ngIf="email.invalid && email.touched" class="error-message">Email is required</span>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          #password="ngModel"
          name="password"
          [(ngModel)]="loginModel.password"
        />
        <span *ngIf="password.invalid && password.touched" class="error-message">Password is required</span>
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </div>
  </form>
</div>
