
<!-- <div class="container">
    <h2>Your Shopping Cart</h2>
    
    <div *ngIf="cartItems.length === 0" class="alert alert-info">
      Your cart is empty.
    </div>
  
    <div *ngFor="let item of cartItems"  class="cart-item">
      <h3>{{ item.product?.pName}}</h3> 
      <p>Quantity: {{ item.quantity }}</p> 
      <button class="button-33" (click)="orderNow(item.cartItemId)">Order Now</button>
    </div>
  </div> -->

  <div class="container">
    <h2>Your Shopping Cart</h2>
    
    <div *ngIf="cartItems.length === 0" class="alert alert-info">
      Your cart is empty.
    </div>
  
    <div *ngFor="let item of cartItems" class="cart-item">
      <h3>{{ item.product?.pName }}</h3> 
      <p>Quantity: {{ item.quantity }}</p> 
      <button class="button-33" (click)="orderNow(item.cartItemId)">Order Now</button>
    </div>
  
    <div class="total">
      <!-- <h4>Total Items: {{ cartItems.reduce((total, item) => total + item.quantity, 0) }}</h4> -->
    </div>
</div>